importFrom(stats, predict)
import(Matrix)
import(lme4)


export(
	amer,
	bsp,
	expand.call,
	getF,
	plotF,
	reparameterizeDesign,
	tp, tpU, tpU2d
	)

exportClasses(amer)

exportMethods(predict)
